body{
    max-width: 1280px;
    margin: 0 auto;
}

main:after{
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    /*background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);*/
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(227,12,12,0) 50%, rgba(0,0,0,1) 100%);
    z-index: -1;
}

.conteudo{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

.informacoes .logo {
    max-width: 300px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.informacoes .descricao{
    width: 50%;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.botoes-carrossel{
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
	min-height: 100vh;
}

.botoes-carrossel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.botoes-carrossel .botao{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px transparent;
    cursor: pointer;
    border-color: crimson;
}

.botoes-carrossel .botao.selecionado{
    background-color: #bc1616;
}

.menu-lateral{
    position: fixed;
    top: 0;
    right: 0;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
	min-height: 100vh;
}

.menu-lateral ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-lateral .icone{
    width: 40px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
}

.menu-lateral .icone:hover{
    transform: scale(1.2);
}

.carrossel{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: -1; /*profundidade */
}

.carrossel .imagem{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: none;
    animation: mudarImagem  0.7s;
}

.carrossel .imagem.ativa{
    display: block;
}

@keyframes mudarImagem{
    from{
        opacity: 0.85;
    }
    to{
        opacity: 1;
    }
}